<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/zone.min.js"></script>
    <script src="~/scripts/Reflect.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        console.log('loading charts...');
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(function () {
            console.log('charts loaded!');
            $.getScript("/scripts/build.min.js", function () { });
        });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
